@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|Vollkorn|Fira+Sans|Poppins|Raleway');
$primary: #006699;

.card {
	height: 100%;
}

.card-title {
	font-size: 32px;
	padding: 8px;
}

.card-sub-title {
	font-size: 16px;
	margin-bottom: 6px;
	color: #666666;
}

.card-stat {
	color: #4859d6;
	font-size: 42px;
	margin-top: 16px;
}

.card-stat-bar-container {
	margin: 10px 30px 10px 30px;
}

.card-admin-activity1 {
	margin-top: 15px;
	font-size: 18px;
}

.card-admin-activity2 {
	margin-bottom: 15px;
}

.card-admin-performance-rankings {
	justify-content: flex-start;
}

.app-logo {
	color: white;
	font-size: 30px;
	font-weight: bold;
}

h2 {
	color: $primary;
	padding: 0;
	margin: 0;
}

h3, h4, p {
	margin: 0;
	padding: 0;
}

#main {
	width: 100%;
	height: 100%;
	background-image: url("./background2.jpg");
}

.chip {
	border-radius
	: 5px;
	background:#d5e0de;
	padding: 10px;
	display: flex;
	align-items: center;
	font-weight: bold;

	button {
		display: flex;
		padding: 5px;
		margin: 0;
		border: none;
		border-radius: 15px;
		outline: none;

		:hover {
			cursor: pointer;
			background: #999e9d;
		}
	}
}

.mainContent{
    width: 100%;
	// min-height: 100%;
	height: 100%;
    background-image: url("./background2.jpg");
}

.chip_spacer {
	display: flex;
	align-items: center;
	padding: 0px 15px 0px 15px;
	font-size: 24px
}

.chip_container {
	display: flex;
	direction: row;
	padding: 5px;
	margin: 15px 0px 15px 0px;
}

.profile-setting-button {

	button {
		background: #80aedd;
		:hover {
			cursor: pointer;
			background: #5d8bba;
		}
	}
}

.selectStyle {
	min-width: 250px;
}

.search{
	min-width: 250px;
}

#breadcrumbs {
	position: sticky;
	top: 0;
	z-index: 1;
}

* {
	// font-family: 'Roboto', sans-serif;
	// font-family: 'Montserrat', sans-serif;
	font-family: 'Poppins', sans-serif !important;
}