@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|Vollkorn|Fira+Sans|Poppins|Raleway');
$primary: #006699;

h2 {
	color: $primary;
	padding: 0;
	margin: 0;
}

h3, h4, p {
	margin: 0;
	padding: 0;
}

#main {
	width: 100%;
}

* {
	// font-family: 'Roboto', sans-serif;
	// font-family: 'Montserrat', sans-serif;
	font-family: 'Poppins', sans-serif !important;
}